

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #DED4C8;
    color: #012A1A;
    margin-left: 5px;
}

a {
    text-decoration: none;
}

h1 {
    color: #8E1F4C;
}

h2, p {
    color: #012A1A;
}

.somos{
    font-size: calc(1.325rem + .9vw);
}

.row{
    align-items: center;
}