/* Estilos de elementos de diferentes pages*/


/* INDEX */
.texto_video{
    color: #8E1F4C;
    font-size: 25px;
}

#fila_video {
    justify-content: center !important;
}

/* Nosotros */
 .ambas_imagenes{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.d-block{
width: 80% !important;
height: 80% !important;
}

/* Clientes */
.logo_card {
    width: auto !important;
}

#mapa_clientes {
    width: 100% !important;
    height: 600px !important;
}


/* Servicios */
#boton_premium {
    background-color: silver !important;
    border: silver !important;
}

#boton_gold {
    background-color: gold !important;
    border: gold !important;
}

#boton_std {
    background-color: green !important;
    border: green !important;
}