/* Estilos de elementos de diferentes pages*/


/* INDEX */
.texto_video{
    color: #8E1F4C;
    font-size: 25px;
}

#fila_video {
    justify-content: center;
}

/* Nosotros */
 .ambas_imagenes{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.d-block{
width: 80%;
height: 80%;
}

/* Clientes */
.logo_card {
    width: auto;
}

#mapa_clientes {
    width: 100%;
    height: 600px;
}


/* Servicios */
#boton_premium {
    background-color: silver;
    border: silver;
}

#boton_gold {
    background-color: gold;
    border: gold;
}

#boton_std {
    background-color: green;
    border: green;
}