.logo-footer {
    float: right;
}

.fa-brands {
    color: #DED4C8;
}

#container_footer {
    font-size: 50px;
    margin-bottom: 5px;
    background-color: #012A1A;
    color: #ffffff;
}

.seguinos-footer {
    font-size: 40px;
}
